body{
        background-color: darkviolet;
        margin-left: 120px;
    }

h1{
        color: ghostwhite;
    }

a{
    color: ghostwhite;
}

li{
    color: floralwhite;
}

table{
    background-color: #a54cb3;
}

th{
    color: floralwhite;
}

td{
    color: floralwhite;
}

code {
  background: #eaeaed;
  color: #666;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  display: block;
  height: 70px;
  margin: 0 14px;
  padding-top: 20px;
  text-align: center;
  width: 90px;
}
.border-solid {
  border: 2px solid #9799a7;
  height: 300px;
  width: 300px;
}
.border-double {
  border: 6px double #9799a7;
  height: 300px;
  width: 300px;
}
.border-dashed {
  border: 8px dashed #9799a7;
}
.border-dotted {
  border: 4px dotted #9799a7;
}
